/* width */
::-webkit-scrollbar {
  width: 15px;
  /* height -> modifies the bottom(/horizontal) scrollbar */
  height: 15px;
}

/* Trackpad */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(22, 131, 186); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
background: blue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 255, 0.777); 
}

.form-login {
  border: dotted red 2px;
  padding: 20px;
  border-radius: 10px;
}



/*  */
/* POSTS Styles */
.post {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.post-image-wrapper-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.post-image-wrapper {
  max-width: 550px;
  /* max-height: 700px; */
  max-height: 550px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-image {
  /* width: auto;
  height: auto; */
  max-width: 100%;
  max-height: 100%;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  /* object-fit: contain; */
  /* object-fit: cover; */
}
.post-comments .post-comments-ul {
  list-style-type: none;
  padding: 0;
}
.post-comments .post-comments-li {
  margin-bottom: 5px;
}
/* POSTS Styling ends. */




/* ModalText */
.mymodal-wrapper{
  /* background-color: var(--backgroundModalSwitch); */
  /* background-color: rgba(255, 22, 22, 0.888); */
  /* Above color feels like a warning (bright red) */
  background-color: rgba(25, 222, 222, 0.777);
  border-radius: 25px;
  /* text-align: center; */
}
.close-button {
  position: absolute;
  /* position: relative; */
  top: 0;
  right: 0;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.spanModalClickOutside{
  font-size: 10.1px;
  position: relative;
  left: 39%;
  top: 0px;
  font-weight: bold;
  /* color: aqua; */
  color: whitesmoke;
  /* bottom:0; */
}
.clickOKbutton{
  font-size: 10.5px;
  position: relative;
  /* left: 39%; */
  font-weight: bold;
  color: aqua;
  /* Above has the button wider, 
  below is to make the button smaller: */
  max-width: 150px;
  left: 63.5%;
}

/* NavBar */
.navBarBrandTitle {
  cursor: default;
  user-select: none;
  position: absolute;
  /* left: 50%; */
  margin-left: 38.38%;
}



/* Styles for mobile screens */
@media (max-width:767px) {
  /* NavBar */

  /* This is to make it appear a horizontal ScrollBar 
  Which I don't want, I prefer the display:grid below*/
  /* .navBarBrandTitle{
    left: auto;
    position: relative;
  } */

  /* Others */
}
/* @media (max-width:550px) and (max-height:1000px) { */
@media (max-width:767px) and (max-height:1000px) {
  .navBarContainer{
    display: grid !important;
    
  }
  .navBarBrandTitle{
    margin-top: -20px;
    margin-bottom: -12px;
    /* position: absolute; */
    /* left: 20px; */
    /* left: 5%; */
    /* text-align: center; */
    /* align-items: center; */
    position: relative;
    /* left: 3%; */
    /* left: 9px; */
    /* or to centralize: */
    left: 11ex;
    /* Above '11ex' is PERFECT! */
    /* These below are relative & NOT what I want */
    /* left: 7.5rem; */
    /* left: 5.7em; */
    /* left: 14vh; */
    /* left: 30vw; */
  }
  .navCustomClass{
    margin-left: 18%;
    margin-top: -18px;
  }

  /* Others */
}